.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}
.blog {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.panel {
    margin-bottom: 64px;
}

.paginator {
    margin: 72px 0;
}