.item {
    margin-right: 16px;
}

.item span {
    display: inline-block;
    padding: 16px 40px;
    line-height: 24px;
    border-radius: 4px;
    cursor: pointer;
    background-color: rgba(49, 48, 55, 0.1);
}

.item input:checked + span {
    background-color: #6C1BDB;
    color: white;
}
.item input {
    display: none;
}

:global(.dark-theme) .item span {
    background-color: #46454B;
}